<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mongoDb" value="mongodb://soundman10000:Empyrean2021!@mancation-shard-00-00-zmold.mongodb.net:27017,mancation-shard-00-01-zmold.mongodb.net:27017,mancation-shard-00-02-zmold.mongodb.net:27017/mancationDev?ssl=true&amp;replicaSet=Mancation-shard-0&amp;authSource=admin" />
  </appSettings>
</configuration>